*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  font-size: 25px;
  font-family: Oswald, sans-serif;
}

.hidden {
  display: none;
}

h2 {
  transition: 0.2s;
}

header {
  margin: 5rem;
  font-size: 3rem;
}

main {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 10rem;
  padding: 0.5rem 0;
  align-self: flex-end;
  font-family: inherit;
  cursor: pointer;
  font-size: 1.8rem;
  background: none;
  outline: none;
  border: 2px solid #000;
  transform: scale(1.1);
  transition: 0.4s;
}

.score-list-section,
.add-score-section {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.score-list-container {
  width: 100%;
  margin-top: 3rem;
  height: 35rem;
  border: 3px solid #222;
  overflow-y: scroll;
}

.score-item {
  padding: 1rem 2rem;
}

.score-item:nth-of-type(even) {
  background-color: rgb(128, 128, 128);
}

.score-item:nth-of-type(odd) {
  background-color: rgb(255, 255, 255);
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2rem;
}

input {
  display: block;
  height: 5rem;
  font-size: 2rem;
  border-radius: 7px;
  border: 2px solid #333;
  padding: 1rem;
}

.success {
  width: fit-content;
  margin: 3rem 0;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  color: #4bb543;
  background-color: #c7e9b4;
}

.error {
  width: fit-content;
  margin: 3rem 0;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  color: #e74c3c;
  background-color: #ffc7b3;
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    flex-direction: column-reverse;
    padding: 2rem;
  }

  .score-list-section,
  .add-score-section {
    width: 100%;
  }

  form {
    width: 100%;
    gap: 2rem;
  }

  .list-header {
    justify-content: space-between;
  }

  .add-btn {
    align-self: center;
  }

  .success,
  .error {
    font-size: 2rem;
  }
}
